@import "vars";

.hero {
  &__inner {
    display: flex;
    gap: 57px;
  }
  &__title {
    position: relative;
    width: 386px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 40px;
    color: #000000;

    &::before {
      position: absolute;
      content: url("../images/light.svg");
      left: 110%;

      top: 35%;
    }
  }
  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 93px;
    color: #8f95a5;
  }
  &__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    text-decoration: none;
    padding: 32px 118px;
    color: #ffffff;
    background: #263238;
    border-radius: 15px;
  }
  &__right-img {
    width: 661px;
    height: 661px;
  }
}
